{% load staticfiles %}
<html>
    <head>
        <title>Flaming </title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet"> 
        <link rel="stylesheet" href="{% static 'css/compras.css' %}">
    </head>
    
    <body>
        <div class="page-header">
            <h3> Flaming | Lista Productos </h1>
        </div>
        <div>
            <table class="col-md-6">
                <tr>
                    <th>Nombre</th> 
                    <th>Detalle</th>
                    <th>Venta</th>
                    <th>Costo</th>
                <tr>
                
                {% for producto in productos %}
                    </tr class="col-md-2">
                        <td>{{ producto.Nombre }}</td> <td>{{ producto.Detalle }}</td> <td>$ {{ producto.PrecioVenta }}</td> <td>$ {{ producto.PrecioCosto }}</td> 
                    <tr>
                {% endfor %}
                
            </table>     
        </div>
    </body>
</hmtl>



