<!DOCTYPE html>
{% load static %}
{% load menu %}
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    
    <title>{% block titulo %}Sistema Contable Flaming{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link href="https://fonts.googleapis.com/css?family=Boogaloo" rel="stylesheet"> 
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <!-- Bootstrap Core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- MetisMenu CSS -->
    <link href="../static/vendor/metisMenu/metisMenu.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/dist/css/sb-admin-2.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="../static/vendor/morrisjs/morris.css" rel="stylesheet">
    
    <!-- Custom Fonts -->
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript"  href="../static/DataTables/jquery.datatables.js"></script>
</head>

<body>

<div id="wrapper">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" style="font-family: Boogaloo; font-size: 25px;" href="/inicio/"> Flaming | Inicio </a>
        </div>
        <!-- /.navbar-header -->

        <ul class="nav navbar-top-links navbar-right">
            <!-- /.dropdown -->
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#" style="font-family: Boogaloo;"><i class="fa fa-user fa-fw"></i> 
                    {% if user.is_authenticated %}
                        {{ user.username }}
                    {% endif %}
                    </a></li>
                    <li><a href="#" style="font-family: Boogaloo;"><i class="fa fa-gear fa-fw"></i> Configuraciones</a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="{% url 'logout' %}?next=/" style="font-family: Boogaloo;"><i class="fa fa-sign-out fa-fw"></i> Salir</a>
                    </li>
                </ul>
                <!-- /.dropdown-user -->
            </li>
            <!-- /.dropdown -->
        </ul>
        <!-- /.navbar-top-links -->

        <div class="navbar-default sidebar" role="navigation">
            <div class="sidebar-nav navbar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="sidebar-search">
                        <div class="input-group custom-search-form">
                            <input type="text" class="form-control" placeholder="Search...">
                            <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                        </div>
                        <!-- /input-group -->
                    </li>
                    {% url 'productos_url' as productos %}
                    {% url 'proveedores_url' as proveedores %}
                    {% url 'compras_url' as compras %}
                    <li>                        
                        <a class="{% active request productos %}" href="{{ productos }}" style="font-family: Boogaloo; font-size:20px;"><i class="fas fa-box-open"></i></i> Productos</a>
                    </li>
                    <li>
                        <a href="#" style="font-family: Boogaloo; font-size:20px;" ><i class="fa fa-bar-chart-o fa-fw"></i> Ventas<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="flot.html" style="font-family: Boogaloo; font-size:20px;" >Anuales</a>
                            </li>
                            <li>
                                <a href="morris.html" style="font-family: Boogaloo; font-size:20px;">Mensuales</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                    <li>
                        <a class="{% active request proveedores %}" href="{{ proveedores }}" style="font-family: Boogaloo; font-size:20px;"><i class="fas fa-people-carry"></i></i> Proveedores</a>
                    </li>
                    <li>
                        <a class="{% active request compras %}" href="{{ compras }}" style="font-family: Boogaloo; font-size:20px;"><i class="fa fa-shopping-cart fa-fw"></i> Compras</a>
                    </li>
                </ul>
            </div>
            <!-- /.sidebar-collapse -->
        </div>
        <!-- /.navbar-static-side -->
    </nav>

    <div id="page-wrapper">
       {% block contenido %}{% endblock %}
    </div>
    <!-- /#page-wrapper -->
    
</div>
    <!-- jQuery -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="../static/vendor/metisMenu/metisMenu.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="../static/vendor/raphael/raphael.min.js"></script>
    <script src="../static/vendor/morrisjs/morris.min.js"></script>
    <script src="../static/data/morris-data.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="../static/dist/js/sb-admin-2.js"></script>

    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/ju/dt-1.10.18/datatables.min.css"/>
 
    <script type="text/javascript" src="https://cdn.datatables.net/v/ju/dt-1.10.18/datatables.min.js"></script>

    <script type="text/javascript" src="https://cdn.datatables.net/select/1.2.6/js/dataTables.select.min.js"></script>
    
    <script type="text/javascript" src="https://editor.datatables.net/extensions/Editor/js/dataTables.editor.min.js"></script>  
<script>
    var editor;
    var indiceBorrar = -1;
    var accion = "";
    $(document).ready(function() {
            
            $('#TableProductos').DataTable( {
                "ordering": false,
                "info": false,
                "bLengthChange": false,
                "bFilter": false,
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                }
            });
            
            $("#buttonBorrar").hide();
            $( "#TableProductos_paginate" ).add('');
            
            var table = $('#TableProductos').DataTable();

            $('#TableProductos tbody').on( 'click', 'tr', function () {
                $("#buttonBorrar").show(500);
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    $("#buttonBorrar").hide(500);
                }
                else {
                    
                    table.$('tr.selected').removeClass('selected');
                    
                    $(this).addClass('selected');
                    indiceBorrar = this._DT_RowIndex;
                    $("#IndiceBorrar").val(indiceBorrar);
                }
            } );
        
            $('#buttonBorrar').click( function () {
                table.row('.selected').remove().draw( false );
                $("#IndiceBorrar").val(-1);
                $("#buttonBorrar").hide(500);
            } );


        function agregarFila(){ 
            $("#myModal").modal();
            
        }  

 } );

    

</script>

</body>

</html>
