{% extends "base.html" %} 

{% block contenido %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header" style="font-family: Boogaloo; font-size: 25px;">COMPRAS:</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="col-xs-8">
            </div>

            <div class="col-xs-4" style="margin-top: 15px; text-align: right;">
                <button type="button" class="btn btn-success" id="AltaProductoBtn">Nuevo</button>
                <button type="button" class="btn btn-primary" id="EditarProductoBtn">Editar</button>
                <button type="button" id="buttonBorrar">Eliminar</button>
            </div>

            <div class="panel-body">
                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="col-sm-8">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table width="100%" class="table table-bordered dataTable no-footer dtr-inline" id="TablaCompras" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>Producto</th>
                                    <th>Stock Inicial</th>
                                    <th>Compras</th>
                                    <th>E. F.</th>
                                    <th>Costo en U.</th>
                                    <th>Precio</th>
                                    <th>Costo</th>
                                </tr>
                            </thead>
                            <tbody id="tablaBody">
                                {% for compra in lista_compras %}
                                <tr>
                                    <td>
                                        {{ compra.producto }}
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                    <td>
                                        0
                                    </td>
                                </tr>
                                {% empty %}
                                    <p>No hay productos cargados.</p>
                                {% endfor %}

                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->
        </div>
    </div>
</div>   
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript" src="../static/js/gestion.js"></script>

<script>



</script>


{% endblock %}



