{% extends "base.html" %}}

{% block content %}
    <div>
        <table class="table table-striped">
            <tr>
                <th>Nombre</th> 
                <th>Detalle</th>
                <th>Venta</th>
                <th>Costo</th>
                <th>Ganacia</th>
            </tr>
            
        {% for producto in productos %}
            <tr>
                <td> {{ producto.Nombre }} </td> <td> {{ producto.Detalle }} </td> <td>$ {{ producto.PrecioVenta }}</td> <td>$ {{ producto.PrecioCosto }}</td>   
            </tr>
            {% empty %}
                <p>No hay productos cargados.</p>
        {% endfor %}                       
        </table>   
    </div> 
{% endblock %}

    
    




