{% extends "base.html" %}

{% block contenido %}
<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header" style="font-family: Boogaloo; font-size: 25px;">PRODUCTOS:</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="col-xs-8">
            </div>

            <div class="col-xs-4" style="margin-top: 15px; text-align: right;">
                <button type="button" class="btn btn-primary" id="EditarProductoBtn">Editar</button>
                <button type="button" id="buttonBorrar" onclick="borrarElemento('TableProductos' , '/productos/eliminar_producto/' , 'buttonBorrar')">Eliminar</button>
                <button type="button" class="btn btn-success" id="AltaProductoBtn">Nuevo</button>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div id="dataTables-example_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
                    <div class="col-sm-8">
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table width="100%" class="table table-bordered dataTable no-footer dtr-inline" id="TableProductos" role="grid" aria-describedby="dataTables-example_info" style="width: 100%;">
                            <thead>
                                <tr>
                                    <th>id</th>
                                    <th>Nombre</th>
                                    <th>Cantidad</th>
                                    <th>Venta ($)</th>
                                    <th>Costo ($)</th>
                                    <th>Ganancia ($)</th>
                                </tr>
                            </thead>
                            <tbody id="tablaBody">
                                {% for producto in lista_productos %}
                                <tr>
                                    <td>
                                        {{ producto.id }}
                                    </td>
                                    <td>
                                        {{ producto.Nombre }}
                                    </td>
                                    <td>
                                        {{ producto.Cantidad }}
                                    </td>
                                    <td>
                                        {{ producto.PrecioVenta }}
                                    </td>
                                    <td>
                                        {{ producto.PrecioCosto }} </td>
                                    </td>
                                    <td>
                                        {{ producto.calcularGanancia }}
                                    </td>
                                </tr>
                                {% empty %}
                                <p>No hay productos cargados.</p>
                                {% endfor %}

                            </tbody>
                        </table>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>
            <!-- /.col-lg-12 -->

        </div>


        <!-- Modal Alta-->
        <div class="modal fade" id="AltaProductoModal" role="dialog">
            <div class="modal-dialog">
            
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                
                    <h4 class="modal-title" style="font-family: Boogaloo; font-size: 22px;">Agregar Producto</h4>
                    </div>
                    <div class="modal-body">
                        <form method="POST" action="/productos/" id="nuevoProducto">
                            {% csrf_token %} {{ form.as_p }}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" id="bttn_producto" class="btn btn-success" data-dismiss="modal" onclick="altaElemento('nuevoProducto','/productos/' )" value="Agregar">Agregar</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                    </div>
                </div>
            
            </div>
        </div>    
        
        <!-- Modal Editar-->
        <div class="modal fade" id="EditarProductoModal" role="dialog">
            <div class="modal-dialog">
                    
            <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        
                    <h4 class="modal-title" style="font-family: Boogaloo; font-size: 22px;">Editar Producto</h4>
                    </div>
                    <div class="modal-body">
                    <form method="POST" action="/productos/" id="editarProducto">
                        {% csrf_token %} {{ form.as_p }}
                        <input type="hidden" name="PK" id="id_pk" maxlength="50">
                    </form>
                    </div>
                        <div class="modal-footer">
                            <button type="submit" id="bttn_producto" class="btn btn-success" data-dismiss="modal" onclick="editarElemento( 'editarProducto' , '/productos/editar_producto/' )" value="Agregar">Guardar</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
                        </div>
                </div>
                    
            </div>
        </div>     
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script type="text/javascript">

function altaElemento(idFormulario , urlRequest) {

    var pdata = $("#" + idFormulario).serialize();
    $.ajax({
        type: 'POST',
        url: urlRequest, //direccion a donde hace las requets
        data: pdata,
        success: function (data) {
            window.location.href = urlRequest; 
        },
        error: function(data) {
        }
    });
}

function editarElemento(idFormulario , urlRequest ) {
    var pdata = $('#' + idFormulario).serialize();
    var pk = $('#id_pk').val();
    $.ajax({
        type: 'POST',
        url: urlRequest,
        data: pdata,
        success: function (data) {
            window.location.href = '/productos/'; 
        },
        error: function(data) {
        }
    })
};

function borrarElemento(idTabla, urlRequest , idBoton) {
    tabla = $("#" + idTabla).DataTable();
    var pdata = tabla.row('.selected').indexes()[0]
    console.log(pdata)
    tabla.row('.selected').remove().draw( false );

        $.ajax({
            type: 'POST',
            url: urlRequest,
            data: { "indice" : pdata },
                success: function (data) {
                console.log(data)
                },
                error: function(data) {
                    console.log(data)
                }
            });

    $('#' + idBoton).removeClass('btn btn-danger');
    $('#' + idBoton).addClass('btn btn-danger disabled');
    console.log("Borraste " + borrarDato);
        
};



// Js de productos
$(document).ready(function() {  
    
    $('#TableProductos').DataTable( {
                    "ordering": false,
                    "info": false,
                    "bLengthChange": false,
                    "bFilter": false,
                    "language": {
                        "url": "//cdn.datatables.net/plug-ins/1.10.19/i18n/Spanish.json"
                    },
                    "aoColumnDefs": [{ "bVisible": false, "aTargets": [0] }]
    });

    $('#buttonBorrar').addClass('btn btn-danger disabled');
    $('#EditarProductoBtn').addClass('btn btn-primary disabled');
    $( "#TableProductos_paginate" ).add('');
            
    var table = $('#TableProductos').DataTable();

            $('#TableProductos tbody').on( 'click', 'tr', function () {
                $('#buttonBorrar').removeClass('btn btn-danger disabled');
                $('#buttonBorrar').addClass('btn btn-danger');
                $('#EditarProductoBtn').removeClass('btn btn-primary disabled');
                $('#EditarProductoBtn').addClass('btn btn-primary');
                if ( $(this).hasClass('selected') ) {
                    $(this).removeClass('selected');
                    $('#buttonBorrar').removeClass('btn btn-danger');
                    $('#buttonBorrar').addClass('btn btn-danger disabled');
                    $('#EditarProductoBtn').removeClass('btn btn-primary');
                    $('#EditarProductoBtn').addClass('btn btn-primary disabled');
                }
                else {
                    
                    table.$('tr.selected').removeClass('selected');
                    borrarDato = this.cells[0].innerText;
                    $(this).addClass('selected');
                }
            } );

    // Alta Producto

    $('#AltaProductoBtn').click( function () {
        $('form input[name$="Cantidad"]').prop('disabled', true);
        $("#AltaProductoModal").modal();
    } );

    // Editar Producto

    $('#EditarProductoBtn').click( function () {
        var pdata = table.row('.selected').data()
        $('form input[name$="Nombre"]').val(pdata[1]),
        $('form input[name$="Cantidad"]').val(pdata[2]),
        $('form input[name$="Cantidad"]').prop('disabled', true);
        $('form input[name$="PrecioVenta"]').val(parseFloat(pdata[3])),
        $('form input[name$="PrecioCosto"]').val(parseFloat(pdata[4])),
        $('input:hidden[name=PK]').val(pdata[0])
        console.log(pdata)
    } );

           
    $("#EditarProductoBtn").click(function(){
        $("#EditarProductoModal").modal();
    });



} );
    
</script>

{% endblock %}