{% extends "base.html" %}

{% block contenido %}

<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header" style="font-family: Boogaloo; font-size: 25px;">AGREGAR VENTAS:</h1>
    </div>
    <div class="col-lg-12">
        <div class="panel panel-default">
            <!-- /.panel-heading -->
            <div class="panel-body">
                <form  method="post" action="." class="Alta-Ventas-form">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit" class="btn btn-success" data-dismiss="modal" value="Agregar"></input>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}